iframe {
  width: 145%;
  height: 700px;
  border: 2px solid gray;
  display: block;
  -moz-transform: scale(0.75, 0.75); 
  -webkit-transform: scale(0.75, 0.75); 
  -o-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75); 
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

#iframe-wrapper {
  height: 700px;
  margin-bottom: -150px;
}

#page-wrapper {
  margin: 0px;
  padding: 0px;
}

.page-content {
  padding: 15px;
}